﻿@{
    ViewData["Title"] = "Home Page";
}


<!-- Page content-->
<div class="container">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
            <!-- Featured blog post-->
            <div class="card mb-4">
                <a href="#!"><img class="card-img-top" src="~/img/PersonasHablando.jpg" alt="..." /></a>
                <div class="card-body">
                    <div class="small text-muted">January 1, 2023</div>
                    <h2 class="card-title">Featured Post Title</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                    <a class="btn btn-primary" href="#!">Leer mas →</a>
                </div>
            </div>
            
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Contactanos</div>
                <div class="card-body">
                    <div class="mb-3">
                        <label class="form-label">Usuario</label>
                        <input class="form-control" type="text" id="userInput" placeholder="Escribe el usuario" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Mensaje</label>
                        <input class="form-control" type="text" id="messageInput" placeholder="Escribe el mensaje" />
                    </div>
                    <div class="input-group">
                        <button class="btn btn-primary" id="sendButtom" type="button">Enviar</button>
                    </div>
                </div>
            </div>
            
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">Lista de mensajes</div>
          
                <div class="row">
                    <div class="col-12">
                        <ul id="messageList"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 @section scripts{
  <script src="~/js/signalr/dist/browser/signalr.js"></script>
  <script src="~/js/chat.js"></script>
  <script src="index.js"></script>
 }